<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ratchet Plus</title>
    <meta name="description" content="Ratchet: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="Connor Sears">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="icon" href="../favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Google Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700%7COpen+Sans:400,300">

    <link rel="stylesheet" href="/rc/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/rc/dist/css/ratchet.css">
    <link rel="stylesheet" href="/rc/dist/css/ratchet-plus.css">
    <link rel="stylesheet" href="/rc/assets/css/docs.css">
    <link rel="stylesheet" href="/rc/assets/css/pygments-manni.css">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/rc/assets/img/apple-touch-icon-114x114.png">

    <script type="text/javascript">window.liveSettings={api_key:"86aee22586d7465790bc844b6b1bd021"}</script>
    <script type="text/javascript" src="//cdn.transifex.com/live.js"></script>

</head>


<body>

    <header class="navbar navbar-static-top bs-docs-nav" id="top">
      <div class="container">

       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">Ratchet Plus</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/rc/">Home</a></li>
            <li><a href="/rc/getting-started">Getting started</a></li>
            <li><a href="/rc/css">CSS</a></li>
            <li class="active"><a href="/rc/components">Components</a></li>
            <li><a href="/rc/javascript">Javascript</a></li>
            <li><a href="https://github.com/kimsq/rc" target="_blank">GitHub project</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </header>

    <div class="bs-docs-header" id="content" tabindex="-1"> 
        <div class="container"> 
            <h1>Components</h1> 
            <p class="lead">Design patterns that serve as basic building blocks.</p> 
        </div>
    </div>

    <div class="container bs-docs-container">

        <div class="row">
            <div class="col-md-10 col-md-push-2" role="main">

                <div class="row">
                    <div class="content-column col-md-7">

                        <div class="docs-section" style="padding-top:0">

                            <h1 id="navbar" class="page-header">
                                <a class="header" href="#navbar"></a>Navbar
                            </h1>
                            <p class="lead">
                                Title bars are full width and docked to the top of the viewport.
                            </p>


                            <artile class="component">
                                <h2 id="navbar-default" class="page-header">
                                    <a class="header" href="#navbar-default"></a>Default navbar 
                                </h2>
                                <p>Title bars are full width and docked to the top of the viewport.</p>

<div class="highlight"><pre><code class="html"><span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">&quot;bar bar-nav&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Title<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;/header&gt;</span>
</code></pre></div>

                            </artile>


                            <artile class="component">
                                <h2 id="navbar-buttons" class="page-header">
                                    <a class="header" href="#navbar-buttons"></a>Navbar with buttons
                                </h2>
                                <p>Buttons in a title bar are left or right aligned and should be used for actions. Use the <code>.pull-right</code> or <code>.pull-left</code> utility classes to float the buttons. Also, be sure to place any floated elements before the title.</p>

<div class="highlight"><pre><code class="html"><span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">&quot;bar bar-nav&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn pull-left&quot;</span><span class="nt">&gt;</span>
    Left
  <span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn pull-right&quot;</span><span class="nt">&gt;</span>
    Right
  <span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Title<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;/header&gt;</span>
</code></pre></div>


                            </artile>


                            <artile class="component">
                                <h2 id="navbar-icons" class="page-header">
                                    <a class="header" href="#navbar-icons"></a>Navbar with icons
                                </h2>
                                <p>Icons can also be used for actions in toolbars. Again, be sure to use utility classes to float the icons into position.</p>


<div class="highlight"><pre><code class="html"><span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">&quot;bar bar-nav&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;icon icon-left-nav pull-left&quot;</span><span class="nt">&gt;&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;icon icon-compose pull-right&quot;</span><span class="nt">&gt;&lt;/a&gt;</span>
  <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Title<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;/header&gt;</span>
</code></pre></div>
                                
                            </artile>


                            <artile class="component">
                                <h2 id="navbar-links-icons" class="page-header">
                                    <a class="header" href="#navbar-icons"></a>Navbar with link buttons and icons
                                </h2>
                                <p>Link buttons can be used in tool bars to remove the outline. Use these in conjuction with icons to recreate the nav feel from iOS7. Note the use of <code>.btn-nav</code> to bring the buttons a little bit closer to the edge of the viewport.</p>


<div class="highlight"><pre><code class="html"><span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">&quot;bar bar-nav&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn-link btn-nav pull-left&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;icon icon-left-nav&quot;</span><span class="nt">&gt;&lt;/span&gt;</span>
    Left
  <span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn btn-link btn-nav pull-right&quot;</span><span class="nt">&gt;</span>
    Right
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">&quot;icon icon-right-nav&quot;</span><span class="nt">&gt;&lt;/span&gt;</span>
  <span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Title<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;/header&gt;</span>
</code></pre></div>
                                
                            </artile>

                            <artile class="component">
                                <h2 id="navbar-segmented-control" class="page-header">
                                    <a class="header" href="#navbar-segmented-control"></a>Navbar with segmented control
                                </h2>
                                <p>Navbar bars can also house segmented controls. Feel free to add accompanying buttons too. The control will automatically layout itself out correctly.</p>


<div class="highlight"><pre><code class="html"><span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">&quot;bar bar-nav&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn pull-left&quot;</span><span class="nt">&gt;</span>
    Left
  <span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">&quot;btn pull-right&quot;</span><span class="nt">&gt;</span>
    Right
  <span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;segmented-control&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;control-item active&quot;</span><span class="nt">&gt;</span>One<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;control-item&quot;</span><span class="nt">&gt;</span>Two<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">&quot;control-item&quot;</span><span class="nt">&gt;</span>Three<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/header&gt;</span>
</code></pre></div>
                                
                            </artile>

                            <artile class="component">
                                <h2 id="navbar-inverted" class="page-header">
                                    <a class="header" href="#navbar-inverted"></a>Inverted navbar
                                </h2>
                                <p>Modify the look of the navbar by adding <code>.navbar-inverse</code>.</p>


<div class="highlight"><pre><code class="html"><span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">&quot;bar bar-nav bar-nav-inverse&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">&quot;title&quot;</span><span class="nt">&gt;</span>Title<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;/header&gt;</span>
</code></pre></div>
                                
                            </artile>


                        </div>

                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                    </div>
                    <div class="device-column col-md-5">
                        <div class="device docs-scrollspy docs-affix">

                            <ul class="nav device-content">
                                <li><div class="screen-bg"></div></li>
                                <li>
                                    <header class="bar bar-nav">
                                        <h1 class="title">Title</h1>
                                    </header>
                                </li>
                                <li class="ratchet-body">
                                    <a href="#navbar"></a>
                                    <header class="bar bar-nav">
                                        <h1 class="title">Title</h1>
                                    </header>
                                </li>
                                <li class="ratchet-body">
                                    <a href="#navbar-default"></a>
                                    <header class="bar bar-nav">
                                        <h1 class="title">Title</h1>
                                    </header>
                                </li>
                                <li class="ratchet-body">
                                    <a href="#navbar-buttons" style="display: none"></a>
                                    <header class="bar bar-nav">
                                        <button class="btn pull-left">
                                        Left
                                        </button>
                                        <button class="btn pull-right">
                                        Right
                                        </button>
                                        <h1 class="title">Title</h1>
                                    </header>
                                </li>
                                <li class="ratchet-body">
                                    <a href="#navbar-icons" style="display: none"></a>
                                    <header class="bar bar-nav">
                                        <a class="icon icon-left-nav pull-left"></a>
                                        <a class="icon icon-compose pull-right"></a>
                                        <h1 class="title">Title</h1>
                                    </header>
                                </li>
                                <li class="ratchet-body">
                                    <a href="#navbar-links-icons" style="display: none"></a>
                                    <header class="bar bar-nav">
                                        <button class="btn btn-link btn-nav pull-left">
                                            <span class="icon icon-left-nav"></span>
                                            Left
                                        </button>
                                        <button class="btn btn-link btn-nav pull-right">
                                            Right
                                            <span class="icon icon-right-nav"></span>
                                        </button>
                                        <h1 class="title">Title</h1>
                                    </header>
                                </li>
                                <li class="ratchet-body">
                                    <a href="#navbar-segmented-control" style="display: none"></a>
                                    <header class="bar bar-nav">
                                        <button class="btn pull-left">
                                        Left
                                        </button>
                                        <button class="btn pull-right">
                                        Right
                                        </button>
                                        <div class="segmented-control">
                                            <a class="control-item active">One</a>
                                            <a class="control-item">Two</a>
                                            <a class="control-item">Three</a>
                                        </div>
                                    </header>
                                </li>
                                <li class="ratchet-body">
                                    <a href="#navbar-inverted" style="display: none"></a>
                                    <header class="bar bar-nav bar-nav-inverse">
                                        <h1 class="title">Title</h1>
                                    </header>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-2 col-md-pull-10" role="aside">

                <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm docs-scrollspy docs-affix"> 

                    <ul class="nav bs-docs-sidenav"> 
                        <li class=""> 
                            <a href="#navbar">Navbar</a> 
                            <ul class="nav"> 
                                <li><a href="#navbar-default">Default navbar</a></li>
                                <li><a href="#navbar-buttons">Buttons</a></li> 
                                <li><a href="#navbar-icons">Icons</a></li>
                                <li><a href="#navbar-links-icons">Links and Icons</a></li> 
                                <li><a href="#navbar-segmented-control">Segmented Control</a></li>
                                <li><a href="#navbar-inverted">Inverted navbar</a></li> 
                            </ul> 
                        </li>
                        <li> 
                            <a href="#bars">Bars</a> 
                            <ul class="nav"> 
                                <li><a href="#bars-tab">Tab bar</a></li> 
                                <li><a href="#bars-tab-labels">Tab bar (labels only)</a></li> 
                                <li><a href="#bars-standard">Standard bars</a></li> 
                            </ul> 
                        </li>
                        <li> 
                            <a href="#table-views">Table views</a> 
                            <ul class="nav"> 
                                <li><a href="#table-views-basic">Basic example</a></li> 
                                <li><a href="#table-views-badges">Badges</a></li> 
                                <li><a href="#table-views-badgesChevrons">Badges and Chevrons</a></li>
                                <li><a href="#table-views-images">Images</a></li>
                                <li><a href="#table-views-icons">Icons</a></li> 
                                <li><a href="#table-views-avatar">Avatar</a></li>
                                <li><a href="#table-views-buttons">Buttons</a></li>
                                <li><a href="#table-views-toggles">Toggles</a></li>
                                <li><a href="#table-views-checkbox">Checkbox</a></li>
                                <li><a href="#table-views-carded">Carded</a></li> 
                            </ul> 
                        </li>
                        <li> 
                            <a href="#table-views">Button groups</a> 
                            <ul class="nav"> 
                                <li><a href="#btn-groups-single">Basic example</a></li> 
                                <li><a href="#btn-groups-sizing">Sizing</a></li>
                                <li><a href="#btn-groups-nested">Nesting</a></li>
                                <li><a href="#btn-groups-justified">Justified button groups</a></li>
                            </ul> 
                        </li>
                        <li> 
                            <a href="#footer">Drawer</a> 
                        </li>
                    </ul> 
                        <a class="back-to-top" href="#top"> Back to top </a> <a href="#" class="bs-docs-theme-toggle" role="button">Disable theme preview</a> 
                </nav>

            </div>
        </div>


    </div>


    <footer class="bs-docs-footer" role="contentinfo"> 
        <div class="container"> 
            <ul class="bs-docs-footer-links"> 
                <li><a href="https://github.com/kimsq/rc">GitHub</a></li> 
                <li><a href="https://twitter.com/kimsqcom">Twitter</a></li> 
                <li><a href="../getting-started/#examples">Examples</a></li> 
                <li><a href="../about/">About</a></li> 
            </ul> 
            <p><a href="http://kimsq.github.io/rc/" target="_blank">Ratchet Plus</a> is a project maintained by <a href="https://github.com/gitaeks" target="_blank">@gitaeks</a> and <a href="https://github.com/kieregh" target="_blank">@kiere</a>  at <a href="http://kimsq.com" target="_blank">Redblock inc.</a>.</p>

            <p>Code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p> 
            <p> Based on <a href="http://goratchet.com/">Ratchet</a> and <a href="http://getbootstrap.com/">Bootstrap</a></p> 
        </div> 
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/rc/assets/js/bootstrap.min.js"></script>
    <script src="/rc/assets/js/docs.js"></script>


</body>
</html>
